@media screen and (min-width: 800px) {
    tr {
        display: inline;
    }
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightgray;
    text-align: center;
    line-height: 200px;
}

tr {
    margin: 10px;
}

td {
    cursor: pointer;
}